<style>
        
        body {
            font-family: sans-serif, sans-serif;
        }
        header {
            background-color: rgb(48, 204, 178);
            color: #fff;
            padding: 10px;
            text-align: left;
        }
        nav {
            background-color: rgb(209, 120, 19);
            color: #fff;
            padding: 10px;
            text-align: left;
        }
        main {
            padding: 20px;
            
        }
        footer {
            background-color: rgb(126, 77, 243);
            color: #fff;
            padding: 10px;
            text-align: left;
        }
        
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        
        table, th, td {
          border:5px solid rgb(23, 159, 201);
          background-color: #ca7412;
        }
        
