body {
           font-family: Arial, sans-serif;
        }
        header {
           color: #cc5916;
           text-align: left;
           position: absolute;
           top: 0;
           left: 10;
        }
        nav {
            background-color: #FFF6EF;
            color: #000000;
            padding: 10px;
            text-align: right;
            color: #ffffff;
            top: 0;
            right: 0; 

        
            
            
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        
        nav ul li {
            display: inline;
            margin: 0 30px;
            
            
            
        }
        
        nav ul li a {
            text-decoration: none;
            color: #cc5916;
            font-size: 20px;
            font-family: Arial, sans-serif;
            right: 50px;
        }
        a {
            width: 1520px;
            height: 15200px;
            top: 100;
            color: #ffffff;
            margin-top: 100px;
            right: 100;
        }

        color{

            background-color: #FFF6EF;
            color: #FFF6EF;
            padding: 30px;
            background-size: cover;

            
        }
        logo { 
            width: 290px;
            height: 290px;
            position: absolute;
            margin-top: 10px;
            left: 0;
            top: 0;
        }

        h2{
            color: #40E0D0;
            font-size: 40px;
            text-align: center;
            margin-bottom: 190px;
        }

        
        main {
            background-image: url('Wales.jpg'); 
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        
        .header-search-container {
            
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }
        
        .header-search-container h2 {
            font-size: 24px;
            margin-top: 300px;
        }
        
        
        .search-container {
            
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }
        
        .search-container input[type="text"] {
            width: 80%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        
        .search-container button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .search-container button:hover {
            background-color: #0056b3;
        }
        
